/*
!Makefile
!.gitignore
!README.md
!*.org

!/emojis/
!/manual_el/
!/my-themes/
!/my-snippets/
!/my-scripts/
!/my-files/
!/my-scripts/
!/support_files/
/my-scripts/email/__pycache__/
*/.yas-compiled-snippets.el
